@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {

    --color-background: rgb(161, 110, 110);
    --color-main-contain: rgba(255, 255, 255, .2);
    --color-white: #fff;
    --main-font-color: #fff;
    --border-color: rgba(255, 255, 255, 0.2);

}   

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;

}

body {

    background-image: url(/Img/pexels-pixabay-158163.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease;

}

.winter-background {

    background-image: url(./Img/pexels-lum3n-44775-167699.jpg);

}

.hot-background {

    background-image: url(./Img/pexels-bradleyhook-147465.jpg);

}

.center {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container  {

    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 40%;
    min-width: 500px;
    color: var(--main-font-color);
    backdrop-filter: blur(100px);
    transition: color 1s ease;

}

.font-change-blue {

    color: rgb(38, 74, 98);

}

.header {   

    position: relative;
    border-radius: 2rem 2rem 0 0;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 5rem 5rem;
    background-color: var(--color-main-contain);
    margin-bottom: 2px;

}

.icon {
    
    position: absolute;
    background-color: var(--color-main-contain);
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--border-color);
    border-radius: 1.2rem;
    top: 10px;
    right: 10px;

}

.city {

    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .1rem;

}

.data {

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 20rem;

}

.data div {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color-main-contain);
    border: 2px solid var(--border-color);
    margin-bottom: 2px;
    text-align: center;

}

.data div:first-child {

    margin-right: 2px;
    padding: .5rem;

}

.data div:nth-child(3) {

    border-radius: 0 0 0 2rem;
    margin-right: 2px ;


}

.data div:nth-child(4) {

    border-radius: 0 0 2rem 0;

}

.search {

    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--color-white);

}

.search input {

    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--color-main-contain);
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    min-width: 300px;
    outline: none;
    color: var(--color-white);
    position: absolute;

}

.search input:focus {   

    border: 2px solid var(--border-color);

}

.search input::placeholder {

    color: rgba(255, 255, 255, 0.575);

}

.icon-img {

    width: 100%;

}

.icon:hover {

    cursor: pointer;

}

.icon:active .icon-img {

    animation: shake .1s;

}

@keyframes shake {

    0% {transform: translateX(0);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(5px);}
    100% {transform: translateX(5px);}

}

@media screen and (max-width: 550px) {

    .container {

        min-width: 300px;
        width: 80%;

    }


}

@media screen and (max-width: 425px) {

    .data {

        grid-template: auto / auto;

    }

    .data div:first-child {

        margin: 0 0 2px 0;

    }

    .data div:nth-child(3) {

        border-radius: 0 0 2px 0;
        margin: 0 0 2px 0;

    }

    .data div:last-child {

        border-radius: 0 0 2rem 2rem;

    }

}